<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me!</h2>
                <hr class="light">
                <p class="text-faded">I'm a mathematician specialized in statistics working as a data scientist looking to solve real life problems using data manipulation tecniques, machine learning algorithms and statistical analysis. I'm a person who is always willing to learn and seek to improve my skills to be in constant growth and professional development.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Services</a>
            </div>
        </div>
    </div>
</section>
