<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <a href="https://ja-castillo25.shinyapps.io/histogram/" class="portfolio-box">
                    <img src="img/portfolio/11.jpg" class="img-responsive" alt="" style="height: 250px;width: 850px;"><!-- style="height: 250px;width: 650px;"-->
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                R-project
                            </div>
                            <div class="project-name">
                                Histogram App
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="download/Presentacion.pdf" class="portfolio-box" download>
                    <img src="img/portfolio/cluster.jpeg" class="img-responsive" alt="" style="height: 250px;width: 850px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machine Learning
                            </div>
                            <div class="project-name">
                                Cluster &#38; Regression analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <div class="col-lg-6 col-sm-6">
                <a href="https://ja-castillo25.shinyapps.io/monedas/" class="portfolio-box">
                    <img src="img/portfolio/coin.jpeg" class="img-responsive" alt="" style="height: 250px;width: 850px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                R-project
                            </div>
                            <div class="project-name">
                                Coin flip App
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="https://github.com/ja-castillo25/Project-Data-Cleaning-and-Hypothesis-test/blob/master/ProjectDataScience.ipynb" class="portfolio-box">
                    <img src="img/portfolio/cleaning.jpeg" class="img-responsive" alt="" style="height: 250px;width: 850px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Python
                            </div>
                            <div class="project-name">
                                Data Cleaning &#38; Hypothesis Test
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>
