<section id="services"> <!-- style="height: 500px;"-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-square-root-alt wow bounceIn text-primary"></i>
                    <h3>Mathematics</h3>
                    <p class="text-muted">Algebra, calculus, geometry, differential equations, topology, complex analysis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-r-project wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>R programming</h3>
                    <p class="text-muted">Statistical analysis, machine learning algorithms, dplyr, ggplot2, shiny, Rmarkdown.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-python wow bounceIn text-primary"></i>
                    <h3>Python</h3>
                    <p class="text-muted">Pandas, matplotlib, scikitlearn, regular expressions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-chart-line wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Statistics &#38; Probabilities</h3>
                    <p class="text-muted">Descriptive statistics, statistical inference, hypothesis testing, linear regression, time series analysis.</p>
                </div>
            </div>
        </div>
    </div>
</section>
